#   == CONFIGURATION ==
#   -- Headers --
/include/arctk/config


#   == BUILD ==
#   -- Files --
/build


#   == COMPILED ==
#   -- Binaries --
/bin

#   -- Testing --
default.profraw
/testing


#   == Tools ==
#   -- System --
.DS_Store

#   -- VS Code --
/.vscode
