#   == CONFIGURATION ==
#   -- Headers --
/include/arctk/config


#   == BUILD ==
#   -- Files --
.build
/build

#   -- Temporary --
/temp

#   -- Documentation --
/docs


#   == COMPILED ==
#   -- Binaries --
/bin

#   -- Testing --
default.profraw


#   == Tools ==
#   -- System --
.DS_Store

#   -- VS Code --
/.vscode
