#   == CONFIGURATION ==
#   -- Headers --
/include/arc/config/*


#   == BUILD ==
#   -- Settings --
.build

#   -- Files --
/build


#   == COMPILED ==
#   -- Binaries --
/bin


#   == Tools ==
#   -- System --
.DS_Store

#   -- VS Code --
/.vscode
